header {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0; }
  header .header_container {
    padding: 15px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    @media (max-width: 576px) {
      header .header_container {
        padding: 10px 0; } }
    header .header_container .logo_box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      header .header_container .logo_box img {
        margin-right: 15px; }
        @media (max-width: 576px) {
          header .header_container .logo_box img {
            margin-right: 10px;
            height: 33px;
            width: 33px; } }
      header .header_container .logo_box p {
        color: #fff;
        font: 700 1.2rem 'Inter', sans-serif; }
        @media (max-width: 576px) {
          header .header_container .logo_box p {
            font: 700 1rem/20px 'Inter', sans-serif; } }
        header .header_container .logo_box p br {
          display: none; }
          @media (max-width: 576px) {
            header .header_container .logo_box p br {
              display: block; } }
    header .header_container .header_btn_box .btn_header {
      font: 700 1rem 'Inter', sans-serif;
      padding: 15px 25px;
      border: 1px solid #FF3036;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-decoration: none;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      color: #FF3036;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      @media (max-width: 576px) {
        header .header_container .header_btn_box .btn_header {
          padding: 10px 20px; } }
      header .header_container .header_btn_box .btn_header:hover {
        background: #FF3036;
        color: #fff; }

.main_section {
  background: url(../img/main_bg.png) no-repeat center center/cover;
  padding-top: 115px;
  overflow: hidden; }
  @media (max-width: 768px) {
    .main_section {
      padding-top: 95px; } }
  .main_section .container {
    position: relative; }
  .main_section .main_pretitle {
    color: #fff;
    font: 700 1rem 'Inter', sans-serif;
    font-style: italic;
    margin-bottom: -15px;
    position: relative;
    left: 10px; }
    @media (max-width: 768px) {
      .main_section .main_pretitle {
        margin: 0;
        left: 0;
        margin-bottom: 15px; } }
    .main_section .main_pretitle::after {
      content: '';
      display: block;
      position: absolute;
      width: 37px;
      height: 3px;
      top: -10px;
      left: -25px;
      background: -webkit-gradient(linear, right top, left top, from(#E70209), color-stop(93.24%, rgba(231, 2, 9, 0.1)));
      background: -o-linear-gradient(right, #E70209 0%, rgba(231, 2, 9, 0.1) 93.24%);
      background: linear-gradient(270deg, #E70209 0%, rgba(231, 2, 9, 0.1) 93.24%); }
  .main_section .main_section_wrap {
    max-width: 850px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .main_section .main_section_wrap {
        position: relative;
        display: block; } }
    .main_section .main_section_wrap .main_section_info {
      position: relative;
      top: -20px;
      z-index: 9; }
      @media (max-width: 768px) {
        .main_section .main_section_wrap .main_section_info {
          top: 0;
          padding-bottom: 45px; } }
      .main_section .main_section_wrap .main_section_info .main_title_border {
        font: 700 2.3rem/35px 'Inter', sans-serif;
        margin-bottom: 5px;
        color: transparent;
        opacity: .4;
        -webkit-text-stroke: .3px #fff; }
      .main_section .main_section_wrap .main_section_info .main_title {
        color: #fff;
        font: 700 2.3rem/42px 'Inter', sans-serif;
        margin-bottom: 10px; }
        @media (max-width: 768px) {
          .main_section .main_section_wrap .main_section_info .main_title {
            font: 700 1.56rem/29px 'Inter', sans-serif; } }
      .main_section .main_section_wrap .main_section_info .margin_title {
        margin-bottom: 25px; }
        @media (max-width: 990px) {
          .main_section .main_section_wrap .main_section_info .margin_title {
            margin-bottom: 20px;
            font: 700 1rem/15px 'Inter', sans-serif; } }
      .main_section .main_section_wrap .main_section_info .main_text {
        color: #fff;
        margin-bottom: 14px;
        font: 400 .95rem/22px 'Inter', sans-serif; }
      .main_section .main_section_wrap .main_section_info .main_btn {
        padding: 15px 25px;
        background: #E70209;
        -webkit-box-shadow: 0px 0px 25px rgba(231, 2, 9, 0.6);
                box-shadow: 0px 0px 25px rgba(231, 2, 9, 0.6);
        text-align: center;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        font: 700 1rem 'Inter', sans-serif;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .main_section .main_section_wrap .main_section_info .main_btn:hover {
          -webkit-box-shadow: none;
                  box-shadow: none; }
    @media (max-width: 768px) {
      .main_section .main_section_wrap .main_section_img {
        position: absolute;
        right: -120px;
        top: -30px; } }
    @media (max-width: 576px) {
      .main_section .main_section_wrap .main_section_img {
        right: -220px;
        top: 60px; } }
    .main_section .main_section_wrap .main_section_img img {
      position: relative;
      margin-bottom: -30px;
      max-width: 100%;
      height: auto;
      bottom: 25px;
      right: -30px;
      -o-object-fit: contain;
         object-fit: contain; }
      @media (max-width: 990px) {
        .main_section .main_section_wrap .main_section_img img {
          right: 0; } }
      @media (max-width: 768px) {
        .main_section .main_section_wrap .main_section_img img {
          bottom: auto;
          margin: 0;
          max-width: 75%; } }
      @media (max-width: 576px) {
        .main_section .main_section_wrap .main_section_img img {
          max-width: 55%; } }

.number {
  background: #28292B; }
  .number .number_container {
    padding: 65px 0; }
    @media (max-width: 990px) {
      .number .number_container {
        padding: 40px 0; } }
  .number .number_title_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 576px) {
      .number .number_title_box {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
  .number .number_title {
    text-align: center;
    margin-bottom: 20px;
    font: 700 1.56rem 'Inter', sans-serif;
    position: relative;
    color: #fff; }
    .number .number_title br {
      display: none; }
      @media (max-width: 576px) {
        .number .number_title br {
          display: block; } }
    @media (max-width: 990px) {
      .number .number_title {
        margin-bottom: 20px;
        font: 700 1.5rem 'Inter', sans-serif; } }
    @media (max-width: 576px) {
      .number .number_title {
        text-align: left; } }
    .number .number_title::after {
      content: '';
      display: block;
      position: absolute;
      width: 95px;
      height: 3px;
      top: -10px;
      left: -55px;
      background: -webkit-gradient(linear, right top, left top, from(#E70209), color-stop(93.24%, rgba(231, 2, 9, 0.1)));
      background: -o-linear-gradient(right, #E70209 0%, rgba(231, 2, 9, 0.1) 93.24%);
      background: linear-gradient(270deg, #E70209 0%, rgba(231, 2, 9, 0.1) 93.24%); }
  .number .number_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
    position: relative; }
    @media (max-width: 990px) {
      .number .number_wrap::before {
        content: '';
        position: absolute;
        background: -webkit-gradient(linear, right top, left top, from(#E70209), color-stop(93.24%, rgba(231, 2, 9, 0.1)));
        background: -o-linear-gradient(right, #E70209 0%, rgba(231, 2, 9, 0.1) 93.24%);
        background: linear-gradient(270deg, #E70209 0%, rgba(231, 2, 9, 0.1) 93.24%);
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
        display: block;
        width: 108px;
        height: 3px;
        right: -50px; } }
    @media (max-width: 990px) {
      .number .number_wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin-bottom: 20px; } }
    .number .number_wrap .number_box:nth-child(2) {
      margin: 0 30px; }
      @media (max-width: 990px) {
        .number .number_wrap .number_box:nth-child(2) {
          margin: 0; } }
  .number .number_wrap_2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    @media (max-width: 990px) {
      .number .number_wrap_2::before {
        content: '';
        position: absolute;
        background: -webkit-gradient(linear, right top, left top, from(#E70209), color-stop(93.24%, rgba(231, 2, 9, 0.1)));
        background: -o-linear-gradient(right, #E70209 0%, rgba(231, 2, 9, 0.1) 93.24%);
        background: linear-gradient(270deg, #E70209 0%, rgba(231, 2, 9, 0.1) 93.24%);
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
        display: block;
        width: 108px;
        height: 3px;
        left: -50px; } }
    @media (max-width: 990px) {
      .number .number_wrap_2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                align-items: flex-end; } }
    @media (max-width: 990px) {
      .number .number_wrap_2 .number_box:nth-child(1) {
        margin-bottom: 20px; } }
    .number .number_wrap_2 .number_box {
      margin: 0 100px; }
      @media (max-width: 1200px) {
        .number .number_wrap_2 .number_box {
          margin: 0 40px; } }
      @media (max-width: 990px) {
        .number .number_wrap_2 .number_box {
          margin: 0;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
          -webkit-flex-direction: row-reverse;
              -ms-flex-direction: row-reverse;
                  flex-direction: row-reverse; } }
      @media (max-width: 990px) {
        .number .number_wrap_2 .number_box .number_num {
          margin: 0;
          margin-left: 20px; } }
      @media (max-width: 990px) {
        .number .number_wrap_2 .number_box .number_num_text {
          text-align: right; } }
  @media (max-width: 990px) {
    .number .border_none::before {
      display: none; } }
  .number .number_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .number .number_box .number_num {
      font: 700 2.5rem/35px 'Inter', sans-serif;
      margin-bottom: 5px;
      color: transparent;
      opacity: .4;
      -webkit-text-stroke: .3px #fff;
      margin-right: 20px; }
    .number .number_box .number_num_text {
      color: #fff;
      font: 400 1.125rem/26px 'Inter', sans-serif; }

.about {
  background: #fff; }
  .about .about_container {
    padding: 40px 0; }
    @media (max-width: 990px) {
      .about .about_container {
        padding: 30px 0; } }
    .about .about_container .about_title_box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      @media (max-width: 576px) {
        .about .about_container .about_title_box {
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start; } }
    .about .about_container .about_title {
      text-align: center;
      margin-bottom: 20px;
      font: 700 1.56rem 'Inter', sans-serif;
      position: relative; }
      .about .about_container .about_title br {
        display: none; }
        @media (max-width: 576px) {
          .about .about_container .about_title br {
            display: block; } }
      @media (max-width: 990px) {
        .about .about_container .about_title {
          margin-bottom: 10px;
          font: 700 1.5rem 'Inter', sans-serif; } }
      @media (max-width: 576px) {
        .about .about_container .about_title {
          text-align: left; } }
      .about .about_container .about_title::after {
        content: '';
        display: block;
        position: absolute;
        width: 95px;
        height: 3px;
        top: -10px;
        left: -55px;
        background: -webkit-gradient(linear, right top, left top, from(#E70209), color-stop(93.24%, rgba(231, 2, 9, 0.1)));
        background: -o-linear-gradient(right, #E70209 0%, rgba(231, 2, 9, 0.1) 93.24%);
        background: linear-gradient(270deg, #E70209 0%, rgba(231, 2, 9, 0.1) 93.24%); }
    .about .about_container .about_wrap {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px; }
      @media (max-width: 990px) {
        .about .about_container .about_wrap {
          grid-template-columns: 1fr;
          grid-gap: 15px; } }
      .about .about_container .about_wrap .about_text {
        padding-left: 25px;
        height: 80px;
        position: relative;
        font: 400 1.125rem/26px 'Inter', sans-serif; }
        @media (max-width: 990px) {
          .about .about_container .about_wrap .about_text {
            height: auto; } }
        .about .about_container .about_wrap .about_text::before {
          content: url(../img/icon/circle.svg);
          position: absolute;
          left: -12px;
          top: -9px; }

.invite {
  background: #D10006; }
  .invite .invite_wrap {
    padding: 35px 0;
    max-width: 740px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px; }
    @media (max-width: 990px) {
      .invite .invite_wrap {
        padding: 25px 0;
        grid-template-columns: 1fr;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  .invite .invite_info {
    position: relative;
    right: -30px; }
    @media (max-width: 990px) {
      .invite .invite_info {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        right: 0; } }
    .invite .invite_info p {
      color: #fff;
      font: 400 1.2rem/30px 'Inter', sans-serif; }
      @media (max-width: 990px) {
        .invite .invite_info p {
          text-align: center; } }
      @media (max-width: 400px) {
        .invite .invite_info p br {
          display: none; } }
      .invite .invite_info p span {
        color: #fdae0e;
        font-weight: 700; }
    .invite .invite_info img {
      top: -25px;
      left: -40px;
      position: absolute; }
      @media (max-width: 990px) {
        .invite .invite_info img {
          left: -20px;
          top: -15px; } }
  .invite .invite_btn_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 576px) {
      .invite .invite_btn_wrap img {
        max-width: 100%;
        height: 30px; } }
    .invite .invite_btn_wrap a {
      margin: 0 30px;
      padding: 15px 25px;
      font: 700 1rem 'Inter', sans-serif;
      background: #FDAE0E;
      -webkit-box-shadow: 0px 0px 15px rgba(253, 174, 14, 0.6);
              box-shadow: 0px 0px 15px rgba(253, 174, 14, 0.6);
      text-align: center;
      text-decoration: none;
      color: #fff; }
      @media (max-width: 990px) {
        .invite .invite_btn_wrap a {
          margin: 0 10px; } }

.leading {
  background: url(../img/lead_img.png) no-repeat center center/cover;
  overflow: hidden;
  height: 780px;
  position: relative; }
  @media (max-width: 990px) {
    .leading {
      height: auto; } }
  .leading .container {
    padding: 150px 0; }
    @media (max-width: 990px) {
      .leading .container {
        padding: 55px 0; } }
  .leading .lead_img {
    position: absolute;
    left: -25px;
    bottom: -35px;
    max-width: 95%;
    height: auto; }
    @media (max-width: 1400px) {
      .leading .lead_img {
        left: -80px; } }
    @media (max-width: 1300px) {
      .leading .lead_img {
        left: -130px; } }
    @media (max-width: 1280px) {
      .leading .lead_img {
        left: -140px; } }
    @media (max-width: 1180px) {
      .leading .lead_img {
        left: -180px; } }
    @media (max-width: 1024px) {
      .leading .lead_img {
        left: -250px; } }
    @media (max-width: 990px) {
      .leading .lead_img {
        height: 450px;
        left: -200px;
        max-width: 100%;
        width: 924px;
        bottom: -20px;
        -o-object-fit: contain;
           object-fit: contain; } }
    @media (max-width: 576px) {
      .leading .lead_img {
        bottom: -60px; } }
    @media (max-width: 420px) {
      .leading .lead_img {
        bottom: -20px;
        -o-object-fit: cover;
           object-fit: cover;
        left: -180px; } }
    @media (max-width: 380px) {
      .leading .lead_img {
        height: 460px;
        bottom: 0; } }
    @media (max-width: 355px) {
      .leading .lead_img {
        height: 460px;
        bottom: 0;
        left: -160px; } }
  .leading .leading_wrap {
    max-width: 800px;
    margin: 0 auto;
    z-index: 9;
    margin-right: 0;
    z-index: 9; }
    @media (max-width: 1100px) {
      .leading .leading_wrap {
        max-width: 600px; } }
    .leading .leading_wrap .leading_info {
      position: relative;
      z-index: 9; }
    .leading .leading_wrap .leading_title {
      margin-left: 40px;
      color: #fff;
      margin-bottom: 20px;
      font: 700 2.1rem 'Inter', sans-serif;
      position: relative;
      z-index: 9; }
      @media (max-width: 990px) {
        .leading .leading_wrap .leading_title {
          margin: 0;
          margin-bottom: 10px;
          font: 700 1.2rem 'Inter', sans-serif; } }
      .leading .leading_wrap .leading_title span {
        margin: 0 5px;
        width: 37px;
        height: 7px;
        position: relative;
        top: -6px;
        display: inline-block;
        background: -webkit-gradient(linear, right top, left top, from(#FDAE0E), color-stop(177.03%, rgba(253, 174, 14, 0.1)));
        background: -o-linear-gradient(right, #FDAE0E 0%, rgba(253, 174, 14, 0.1) 177.03%);
        background: linear-gradient(270deg, #FDAE0E 0%, rgba(253, 174, 14, 0.1) 177.03%); }
        @media (max-width: 990px) {
          .leading .leading_wrap .leading_title span {
            width: 18px;
            height: 4px; } }
    .leading .leading_wrap .leading_text {
      color: #fff;
      font: 400 1.5rem 'Inter', sans-serif;
      margin-bottom: 20px;
      margin-left: 40px;
      position: relative;
      z-index: 9; }
      @media (max-width: 990px) {
        .leading .leading_wrap .leading_text {
          margin-bottom: 10px;
          font: 400 1rem 'Inter', sans-serif;
          max-width: 330px;
          margin-right: auto;
          margin-left: 0; } }
    .leading .leading_wrap .leading_info_text {
      margin-left: 40px;
      color: #fff;
      font: 700 1.5rem 'Inter', sans-serif;
      margin-bottom: 20px;
      position: relative;
      z-index: 99; }
      @media (max-width: 990px) {
        .leading .leading_wrap .leading_info_text {
          margin: 0;
          max-width: 226px;
          margin-right: auto;
          margin-bottom: 15px;
          font: 400 1rem 'Inter', sans-serif; } }
      .leading .leading_wrap .leading_info_text span {
        color: #FDAE0E;
        text-shadow: 0px 0px 15px rgba(253, 174, 14, 0.6); }
    .leading .leading_wrap .lead_circle {
      position: absolute;
      left: -50px;
      top: -75px; }
      @media (max-width: 990px) {
        .leading .leading_wrap .lead_circle {
          height: 18px;
          width: 18px;
          left: -10px;
          top: -5px; } }
    .leading .leading_wrap .leading_list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px 20px;
      -webkit-box-align: start;
      -webkit-align-items: start;
          -ms-flex-align: start;
              align-items: start; }
      @media (max-width: 990px) {
        .leading .leading_wrap .leading_list {
          grid-template-columns: 1fr;
          padding: 0;
          padding-left: 30%; } }
      .leading .leading_wrap .leading_list li {
        position: relative;
        font: 700 1.125rem/26px 'Inter', sans-serif;
        color: #fff;
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-left: 0; }
        @media (max-width: 990px) {
          .leading .leading_wrap .leading_list li {
            font: 700 .95rem/22px 'Inter', sans-serif; } }
        @media (max-width: 576px) {
          .leading .leading_wrap .leading_list li {
            font: 700 .87rem/20px 'Inter', sans-serif; } }
        .leading .leading_wrap .leading_list li::before {
          position: absolute;
          left: -40px;
          top: -8px;
          content: url(../img/icon/lead_circle_sm.svg); }

.form_section {
  background: url(../img/form_bg.png) no-repeat center center/cover; }
  .form_section .container {
    padding: 95px 0;
    position: relative; }
    @media (max-width: 990px) {
      .form_section .container {
        padding: 35px 0; } }
  .form_section .form_wrap {
    display: grid;
    grid-template-columns: 332px 1fr;
    grid-gap: 110px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1000px;
    margin: 0 auto; }
    @media (max-width: 1100px) {
      .form_section .form_wrap {
        grid-gap: 30px; } }
    @media (max-width: 990px) {
      .form_section .form_wrap {
        grid-gap: 20px;
        grid-template-columns: 1fr;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  .form_section .form_info .form_title {
    font: 700 1.75rem/36px 'Inter', sans-serif;
    color: #fff;
    margin-bottom: 15px; }
    @media (max-width: 990px) {
      .form_section .form_info .form_title {
        font: 700 1.56rem/32px 'Inter', sans-serif;
        margin-bottom: 12px; } }
    @media (max-width: 576px) {
      .form_section .form_info .form_title {
        max-width: 320px; } }
    .form_section .form_info .form_title span {
      color: #fdae0e; }
    .form_section .form_info .form_title small {
      font-size: 1rem; }
      @media (max-width: 576px) {
        .form_section .form_info .form_title small {
          display: block; } }
    @media (max-width: 576px) {
      .form_section .form_info .form_title br {
        display: none; } }
  @media (max-width: 576px) {
    .form_section .form_info .form_title:nth-child(2) {
      text-align: right;
      margin-left: auto; } }
  .form_section .form_info .form_text {
    color: #fff;
    font: 400 1.125rem/27px 'Inter', sans-serif; }
    @media (max-width: 576px) {
      .form_section .form_info .form_text br {
        display: none; } }
  @media (max-width: 990px) {
    .form_section .form_feedback {
      grid-row-start: 2; } }
  .form_section .form_feedback label {
    margin-bottom: 5px;
    color: #FFFFFF;
    display: block;
    font: 400 .95rem 'Inter', sans-serif; }
  .form_section .form_feedback input {
    padding: 10px;
    margin-bottom: 15px;
    font: 400 .95rem 'Inter', sans-serif;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #fff;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  .form_section .form_feedback button {
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font: 700 1.125rem 'Inter', sans-serif;
    padding: 12px;
    text-align: center;
    margin-top: 10px;
    border: none;
    color: #fff;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #E70209;
    -webkit-box-shadow: 0px 0px 15px rgba(231, 2, 9, 0.6);
            box-shadow: 0px 0px 15px rgba(231, 2, 9, 0.6); }

footer {
  background: #28292B; }

.footer_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 25px 0; }
  @media (max-width: 990px) {
    .footer_container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (max-width: 576px) {
    .footer_container {
      padding: 15px 0; } }
  .footer_container .footer_link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 15px; }
    @media (max-width: 990px) {
      .footer_container .footer_link {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .footer_container .footer_link a {
      color: #fff;
      text-decoration: underline;
      margin-right: 30px;
      font: 400 .87rem 'Inter', sans-serif;
      opacity: .6; }
      @media (max-width: 990px) {
        .footer_container .footer_link a {
          margin: 0;
          margin-bottom: 10px; } }
    .footer_container .footer_link p {
      color: #fff;
      font: 400 .87rem 'Inter', sans-serif;
      opacity: .6; }
  .footer_container .logo_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 990px) {
      .footer_container .logo_box {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .footer_container .logo_box img {
      margin-right: 15px; }
      @media (max-width: 576px) {
        .footer_container .logo_box img {
          margin-right: 10px;
          height: 33px;
          width: 33px; } }
    .footer_container .logo_box p {
      color: #fff;
      font: 700 1.2rem 'Inter', sans-serif; }
      @media (max-width: 576px) {
        .footer_container .logo_box p {
          font: 700 1rem/20px 'Inter', sans-serif; } }
      .footer_container .logo_box p br {
        display: none; }
        @media (max-width: 576px) {
          .footer_container .logo_box p br {
            display: block; } }
  @media (max-width: 990px) {
    .footer_container .footer_social_wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      grid-row-start: 2; } }
  .footer_container .footer_social_wrap a {
    text-decoration: none;
    margin: 0 10px; }
  .footer_container .footer_social_wrap img {
    height: 20px; }

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0; }

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

/**
 * Fade-move animation for second dialog
 */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  transform: translateY(-20px) perspective(600px) rotateX(10deg); }

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -ms-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0); }

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  transform: translateY(-10px) perspective(600px) rotateX(10deg); }

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0; }

.zoom-anim-dialog {
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  padding: 50px 30px;
  border-radius: 10px; }
  .zoom-anim-dialog p {
    font: 700 1.5rem 'Inter', sans-serif;
    text-align: center;
    color: #000; }

.politika {
  max-width: 1000px;
  padding: 30px 20px; }
  .politika h1,
  .politika h2,
  .politika h3,
  .politika h4,
  .politika h5 {
    margin-bottom: 10px;
    font: 700 1.125rem/26px 'Inter', sans-serif;
    text-align: left; }
  .politika p {
    font: 400 .95rem/21px 'Inter', sans-serif;
    text-align: left; }

html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif; }

.container {
  max-width: 1280px;
  margin: 0 auto; }

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0; }

button {
  outline: none; }

.padding {
  padding: 0 70px; }
  @media (max-width: 1280px) {
    .padding {
      padding: 0 45px; } }
  @media (max-width: 990px) {
    .padding {
      padding: 0 15px; } }

.padding_mob {
  padding: 0 70px; }
  @media (max-width: 1280px) {
    .padding_mob {
      padding: 0 45px; } }
  @media (max-width: 990px) {
    .padding_mob {
      padding: 0 15px; } }
  @media (max-width: 576px) {
    .padding_mob {
      padding: 0; } }

.margin {
  margin-bottom: 80px; }
  @media (max-width: 990px) {
    .margin {
      margin-bottom: 60px; } }

main {
  min-height: -webkit-calc(100vh - 80px);
  min-height: calc(100vh - 80px); }
